.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin:0;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-family: 'Arial Narrow Bold', sans-serif;
  padding: 20px;
  background-color: #0e61b4;
  color: white;
}
